<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tangze.work">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 定位相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- 配置Map定位权限和远程链接机制 -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图：开发者申请的Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yGgAhPE69QVpMe98Vag7phrkmN52al1L" />
        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.FirstEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddressNewOrEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderStateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CustomerServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyCollectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettlementActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.DeliverOrderSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderShowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductCriteriaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShowInfoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShowInfoDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- ************************************支付相关activity*************************** -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwalletXXXXXXXX" />
            </intent-filter>
        </activity>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 银联支付 -->
        <activity android:name="com.unionpay.uppay.PayActivity" />

        <!-- ************************************支付相关activity*************************** -->


        <!-- 分享回调的相关activity******************************************************* -->


        <!-- QQ精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105934899" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--微信精简版-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 分享编辑界面 只有新浪微博精简版，豆瓣人人腾讯微博需要-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 添加友盟appkey -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58afd80df5ade47b770010c1"/>


    </application>

</manifest>
